<%= form_with(url: sessions_path) do |form| %>
    
    <div>
        <%= form.label :email, style: "display: block" %>
        <%= form.email_field :login, required: true %>
    </div>

    <div>
        <%= form.label :password, style: "display: block" %>
        <%= form.password_field :password, required: true %>
    </div>
    
    <div>
        <%= form.submit value ="Ingresar" %>
    </div>
<% end %>