<%= form_with model: @user do |form| %>
    <div>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div>
        <%= form.label :email, style: "display: block" %>
        <%= form.email_field :email, required: true  %>
    </div>

    <div>
        <%= form.label :password, style: "display: block" %>
        <%= form.password_field :password, required: true %>
    </div>

    <div>
        <%= form.hidden_field :rol, :value => "Cliente" %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>