 <h1> <%= t('.title')%> </h1>
<table>
    <thead>
      <tr>
                  <th>Dia</th>

          <th>Inicio</th>
          <th>Fin</th>
      </tr>
    </thead>
    <tbody>
  <% @horarios.each_with_index do |horario,index| %>
          <tr>
            <td><%= @sucursal_horario[index].dia%></td>
            <td><%=horario.inicio%></td>
            <td><%=horario.inicio%></td>
            <td>
                <%= link_to "<button>Editar</button>".html_safe, edit_horario_path(horario.id)%>
            </td>
          </tr>
      <% end %>
    </tbody>
</table>

