<%= form_with model: @user do |form| %>
    
    <div>
        <% if @user.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
        <div>
            <%= form.label :email, style: "display: block" %>
            <%= form.email_field :email, required: true, value:@user.email %>
        </div>
        <div>
            <%= form.label :Ingrese_su_nueva_contraseña, style: "display: block" %>
            <%= form.password_field :password, required: true %>
        </div>
    <div>
        <%= form.submit value="Aceptar"%>
        <% if Current.user.rol != "Admin"%>
            <%= link_to "<button>Volver</button>".html_safe, turns_path %>
        <% else %>
            <%= link_to "<button>Volver</button>".html_safe, '/user' %>
        <% end%> 
    </div>
<% end %>