 <h1> <%= t('.title')%> </h1>
  <table >
    <thead>
      <tr>
          <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>                   
        <tr>
          <td><%=user.email%></td>

          <td>
            <%= link_to "<button>Ver</button>".html_safe, user_path(user.id)%>
          </td>
          <td>
          <%= link_to "<button>Editar</button>".html_safe, edit_user_path(user.id)%>
          </td>
          <td>
            <%= link_to "<button>Eliminar</button>".html_safe, user_path(user.id), data:{
              turbo_method: :delete,
              turbo_confirm: t('.confirm')
            } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
