 <h1> <%= t('.title')%> </h1>

<table >
  <thead>
    <tr>
        <th>Email</th>
        <th>Rol</th>
    </tr>
  </thead>
  <tbody>           
        <tr>
        <td><%= @user.email %></td>
        <td><%= @user.rol %></td>

        </tr>
  </tbody>
</table>
<div>
  
  <% if Current.user.rol != "Admin"%>
    <%= link_to "<button>Modificar</button>".html_safe, edit_user_path(@user.id) %>
    <%= link_to "<button>Volver</button>".html_safe, turns_path %>
  <% else %>
    <%= link_to "<button>Volver</button>".html_safe, '/user' %>
  <% end%>
</div>
