<%= form_with model: @turn do |form| %>
    <div>
        <% if @turn.errors.any? %>
            <div id="error_explanation">
                <ul>
                    <% @turn.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div>
        <%= form.label :fecha %>
        <%= form.date_field :fecha %>
    </div>

    <div>
        <%= form.label :hora %>
        <%= form.time_field :hora %>
    </div>

    <div>
        <%= form.label :motivo %>
        <%= form.text_area :motivo %>
    </div>

    <div>
    <%= form.label :sucursal_id %>
    <%= form.collection_select :sucursal_id, Sucursal.where(borrado: "N").order(nombre: :asc), :id, :nombre %>
  </div>

    <div>
        <%= form.hidden_field :estado, :value => "Pendiente" %>
    </div>
    
    <div>
        <%= form.submit value="Aceptar"%>
        <%= link_to "<button>Volver</button>".html_safe, turns_path %>
    </div>
<% end %>