 <h2> <%= t('.title') + " " +@sucursal.nombre%> </h2>
 
 <table >
    <thead>
        <tr>
            <th>Dirección</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>   
            <tr>
                <td><%= @sucursal.direccion %></td>
                <td><%= @sucursal.telefono %></td>
            </tr>
    </tbody>
</table>
 
<%if !@sucursal.sucursal_horario.empty?%>    
<h3> Horarios de atencion </h3>
    <table >
        <thead>
            <tr>
                <th>Dia</th>
                <th>Horario apertura</th>
                <th>Horario cierre</th>
            </tr>
        </thead>
        <tbody>   
                <% @sucursal.sucursal_horario.each_with_index do |horario,index|%>
                <tr>
                    <td><%= horario.dia %></td>
                    <td><%= @sucursal.horarios[index].inicio.strftime("%H:%M") + "hs" %></td>
                    <td><%= @sucursal.horarios[index].fin.strftime("%H:%M")+ "hs"%></td>
                </tr>
                <% end %>
        </tbody>
    </table>
<% else %>
    <h3>Esta sucursal no cuenta con turnos asignados</h3>
<% end %>
<%= link_to "<button>Volver</button>".html_safe, sucursals_path %>